VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=manito-938cc
VITE_FIREBASE_APP_ID=
VITE_RECAPTCHA_ENTERPRISE_SITE_KEY=
# Only use with local demo-manitto emulators:
VITE_USE_EMULATORS=false
